!!! 5
html.no-js(lang='en')
<!--[if IE 8]><html class='no-js lt-ie9' lang='en' > <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js' lang='en' > <!--<![endif]-->
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block social-tags
        meta(name='description', content='')
        meta(name='keywords', content='')

        meta(name='author', content='PROJECT DEFAULT')
        meta(name='copyright', content='PROJECT DEFAULT')
        meta(name='application-name', content='')

        meta(property='og:title', content='CleanIt')
        meta(property='og:type', content='article')
        meta(property='og:image', content='{{STATIC_URL}}static/img/logo.jpg')
        meta(property='og:url', content='http://example.com')
        meta(property='og:description', content='')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='PROJECT DEFAULT')
        meta(name='twitter:description', content='')
        meta(name='twitter:image', content='{{STATIC_URL}}static/img/logo.jpg')

    block head-title
      title GeneWiki

    link(rel='stylesheet', href='{{STATIC_URL}}css/bootstrap.min.css')
    link(rel='stylesheet', href='{{STATIC_URL}}css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='{{STATIC_URL}}css/ladda.min.css')
    link(rel='stylesheet', href='{{STATIC_URL}}css/style.css')

body
    block header

    block content

    block pre-footer
    block footer

        script(src='{{STATIC_URL}}js/libs/jquery-2.1.1.min.js')
        script(src='{{STATIC_URL}}js/libs/underscore-min.js')
        script(src='{{STATIC_URL}}js/libs/bootstrap.min.js')
        script(src='{{STATIC_URL}}js/libs/d3.v3.min.js')
        script(src='{{STATIC_URL}}js/libs/spin.min.js')
        script(src='{{STATIC_URL}}js/libs/ladda.min.js')
        script(src='{{STATIC_URL}}js/app.js')

        - if not debug
            script.
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','UA-XXXXXXXX-X');ga('send','pageview');

    block post-footer

