!!! 5
html.no-js(lang='en')
<!--[if IE 8]><html class='no-js lt-ie9' lang='en' > <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js' lang='en' > <!--<![endif]-->
head
     block head-title
         title Wikidata Statistics
     link(rel='stylesheet', href='{{STATIC_URL}}css/report_style.css')
     link(rel='stylesheet', href='{{STATIC_URL}}js/libs/jquery-ui-1.12.0.custom/jquery-ui.css')
     script(src='{{STATIC_URL}}js/libs/jquery-ui-1.12.0.custom/external/jquery/jquery.js')
     script(src='{{STATIC_URL}}js/libs/jquery-ui-1.12.0.custom/jquery-ui.js')
     script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
body

  block header
  
  block content
  
  block footer
  
  
