/** {  border: dashed black 1px;  }*/

html, body {
    /*min-height: 600px;*/
    min-width: 1150px;
    max-width: 2000px;
    max-height: 1200px;
    height: 100%;
    padding: 2px;
    margin: auto auto;
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;

}

html {
    background: #385d94;
}
a:link {
   color:inherit;
}
body {

    border-radius: 10px;
    border: solid white 2px;
}




.centerText {
    text-align: center;
}
.container-fluid{
    border:solid white 2px;
    border-radius: 10px;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 100%;

}

#jbrowse {
    width: 100%;
    height: 100%;

}

.full {
    height: 100%;
}

.top-row {
    height: 35%;
}

.bottom-row {
    height: 50%;
}

.box {
    border: solid #99c2ff 2px;
    border-radius: 3px;
    height: 100%;
    overflow: hidden;

}

.jb-box {
    border: solid #99c2ff 2px;
    border-radius: 3px;
    height: 100%;

}

.col {
    padding: 1px;
    height: 100%
}

.footer {
    background-color: #385d94;
    color: whitesmoke;
    position:relative;
    bottom: 0;
    height:500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;


}
.footer a:hover{
    color: #385d94;
}

.header {
    height: 70px;
    /*min-height: 50px;*/

}

.main-header {
    background-color: #385d94;
    color: whitesmoke;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
}

.main-footer {
    background-color: #385d94;
    color: whitesmoke;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


}

#main-title {
    padding-left: 50px
}

.main-boxheader {
    background-color: #99c2ff;
    height: 50px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    color: #385d94;
    padding: 5px;
    display: flex;

}

.main-gene-boxheader {
    background-color: #99c2ff;
    height: 50px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    color: #385d94;
    padding-right: 10px;
    text-align: center;
}

.main-org-boxheader {
    background-color: #99c2ff;
    height: 50px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    color: #385d94;
    padding: 5px;
}

#wd-oauth-div {
    padding: 25px;
    text-align: right;
}

#orgFormModule {
    padding-top: 21px;

}

.org-data-box {
    padding: 10px;
    overflow: auto;
    height: 80%;
}

.main-data {
    color: #385d94;
    border-bottom: solid #385d94 1px;
}

.main-dataul {
    border-bottom: solid #385d94 1px;

}

.main-go-data {
    padding: 20px;
    overflow: auto;
    /*border: dashed black 1px;*/
    color: #385d94;
    /*position: absolute;*/
    /*top: 20%;*/
    /*border-top: solid #99c2ff 1px;*/
    width: 100%;
    /*max-height: 52%;*/
    /*margin-top: 5px;*/
    /*position: absolute;*/
    /*top:0;*/
}

.main-go-box {

    margin-top: 5px;
    color: #385d94;
    height: 100%;

}
.main-go-buttons {
    width: 100%;
    margin-top: 10px;
    /*margin-bottom: 10px*/
}

#main-organism-name {
    text-align: center;
}

/*#geneFormModule {*/
    /*margin-bottom: 100px;*/
    /*text-align: right;*/
/*}*/

#main-gene-name {
    text-align: center;
}

.tab-data {
    padding: 5px
}

#gene-prot-tabs.nav-tabs li {
    width: 50%;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: whitesmoke;
    border-color: #385d94;

    border-style: solid;
    border-width: 1px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

#evdocbutton {
    float: right;
    display: block;
    margin-right: 0;
    clear: left;
    margin-left: 10px;
}

#hpylori {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

#evCodeChoice {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 5px
}

.hov:hover {
    color: #385d94;

}

​,
.dropdown-menu {
    max-height: 200px;
    overflow: auto;
}

.wd-logo {
    max-height: 40px;
    float: right;
    clear: right;
}

.modal-dialog {
    position: relative;
    height: 500px;
    top: 50%;
    /*margin-top: 300px;*/
}

.main-button-ref {

}

.main-operon-box {
    min-height: 20px;
    /*border: solid #cce0ff 2px;*/
    /*border-radius: 10px;*/

    margin-top: 5px;
    color: #385d94;
    border-bottom: solid #D3D9F7 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-operon-genes-box {
    min-height: 20px;
    /*border: solid #cce0ff 2px;*/
    /*border-radius: 10px;*/
    margin-top: 5px;
    color: #385d94;
    border-bottom: solid #D3D9F7 1px;

}

#goTermForm.ui-autocomplete-loading {
    background-image: url('../img/spin.gif');
    background-position: left center;
    background-repeat: no-repeat;
}

.form-control {
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.main-annotations {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-modal-div {
    /*position: absolute;*/
    /*bottom: 2%;*/
    padding-left: 5px;
    /*height:10%;*/
    /*position: absolute;*/
    /*bottom:0;*/
    /*width: 100%*/

}

.main-annotations-column {

    height: 100%
}

.main-annotations-nav {

    max-height: 35%
}

.main-annotations-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 65%

}

.main-annotations-content-header {
    height: 20%
}

.main-annotations-content-data {

    height: 80%
}

.main-annotations-content-data-content {

    height: 90%;
    overflow: auto;
}

.main-annotations-content-data-modal {
    padding-top: 8px;
    height: 10%;
    position: absolute;
    bottom: 1px;
    right: 1px;
    left: 1px;
    background: white;
    border: solid #99c2ff 2px;
    border-radius: 0 0 3px 3px;
}

.main-op-annotations {

}

.main-landing-page {
    height: 100%;
    width: 100%;
    background-color: #385d94;
    color: whitesmoke;
    padding-top: 15em;
    padding-left: 50px;
    padding-right: 50px;
    border: solid #385d94 3px;
    text-align: center;
    padding-bottom: 100px;

}

.panel-size {
    width: 100%
}

#hpy_logo {
    max-height: 50px;
    margin-top: 1.5em;
    margin-left: 1em
}
.nav{
    padding: 5px;
    /*background-color: #99c2ff;*/
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #385d94;
    cursor: default;
    background-color: white;
    border: solid #385d94 1px ;
    border-bottom-color: white;
}

.nav-tabs > li> a {
    color: #385d94;
    cursor: default;
    background-color: #99c2ff;
    border: solid #385d94 1px ;
    font-size: .75em;
    /*border-bottom-color: transparent;*/
}
.statement-staging{
    min-height:40px;
    padding:5px;
}

.staging-col{
    padding:5px;
}

#main-operon-form{
    padding:20px
}

#operonBox{

}



.form-label{
    color: #385d94
}