<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type='text/css' href="{% static 'cmod_main/css/main.css' %}"/>-->
    <link rel="stylesheet" type='text/css' href="{% static 'cmod_main/css/main.css' %}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'cmod_main/css/jquery-ui.theme.css' %}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'cmod_main/css/jquery-ui.structure.css' %}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'cmod_main/css/jquery-ui.css' %}"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="{% static 'cmod_main/js/queries.js' %}"></script>
    <script src="{% static 'cmod_main/js/js.cookie.js' %}"></script>
    <script src="{%  static 'cmod_main/js/landingpage.js'%}"></script>
    <script src="{% static 'cmod_main/js/forms.js' %}"></script>
    <script src="{% static 'cmod_main/js/main.js' %}"></script>
    <script type="text/javascript">
        var OrgName = "{{ org_data.Name }}";
        var OrgTID = "{{ org_data.Taxid }}";
        var OrgQID = "{{ org_data.QID }}";
        var OrgRefSeq = "{{ org_data.RefSeq }}";
        var verification = "{{ verified }}";
        var loader = "{% static 'cmod_main/img/spin.gif' %}"
    </script>


</head>
<body>
<!--gene reference Modal-->
<div class="modal" id="wdGeneRefModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="refModal">Wikidata Statement Reference</h4>
            </div>
            <div class="modal-body">
                <h5>Stated in:</h5>

                <div class='main-data' id="main-ref-statedin">
                </div>
                <!--<h5>Retrieved:</h5>-->

                <!--<div class='main-data' id="main-ref-retrieved">-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--go reference Modal-->
<div class="modal" id="wdGoRefModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="refModal">Wikidata Statement Reference</h4>
            </div>
            <div class="modal-body">
                <h5>Stated in:</h5>

                <div class='main-data' id="main-ref-statedin">
                </div>
                <h5>Retrieved:</h5>

                <div class='main-data' id="main-ref-retrieved">
                </div>
                <h5>PMID:</h5>

                <div class='main-data' id="main-ref-pmid">
                </div>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--ip reference Modal-->
<div class="modal" id="wdIPRefModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="refModal">Wikidata Statement Reference</h4>
            </div>
            <div class="modal-body">
                <h5>Stated in:</h5>

                <div class='main-data' id="main-ref-statedin">
                </div>
                <h5>Reference URL:</h5>

                <div class='main-data' id="main-ref-url">
                </div>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--op reference Modal-->
<div class="modal" id="wdOPRefModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="refModal">Wikidata Statement Reference</h4>
            </div>
            <div class="modal-body">
                <h5>Stated in:</h5>

                <div class='main-data' id="main-ref-statedin">
                </div>
                <h5>PMID:</h5>

                <div class='main-data' id="main-ref-PMID">
                </div>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--EC reference Modal-->
<div class="modal" id="wdECRefModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="refModal">Wikidata Statement Reference</h4>
            </div>
            <div class="modal-body">
                <h5>Stated in:</h5>

                <div class='main-data' id="main-ref-statedin">
                </div>
                <h5>Retrieved:</h5>

                <div class='main-data' id="main-ref-retrieved">
                </div>
                <h4> Reaction</h4>
                <h5>Stated in:</h5>

                <div class='main-data'>
                    <a href="http://enzyme.expasy.org/">Expasy Enzyme</a>
                </div>
                <h5>Retrieved:</h5>

                <div class='main-data' id="main-ref-retrieved">
                </div>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal" id="goModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="myGOModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form id="main-go-form" class="ui-widget ui-front">
                    <div class="form-group">
                        <input id="goTermForm" type="text" class="form-control"
                               placeholder="Gene Ontology Term"
                               name="goFormItem">

                        <div class="row">
                            <div class="dropdown col-xs-6" id="'evDropDown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Determination Method <span class="caret"></span>
                                </button>
                                <ul id='optlist' class="but-dropdown dropdown-menu">
                                </ul>

                            </div>
                            <div class="col-xs-6" id="evCodeChoice"></div>
                        </div>

                        <input type="text" class="form-control"
                               id="pmidForm"
                               placeholder="PMID" name="pmidrefFormItem">
                        <button data-dismiss="modal" id="editWDButton"
                                class="btn btn-primary main-go-buttons"
                                type="button">
                            Edit Wikidata Item
                        </button>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="operonModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="wd-logo" src="{% static 'cmod_main/img/GeneWikidata-logo-en.png' %}">
                <h4 class="modal-title" id="myOperonModalLabel">Add genes to an operon or create a new one</h4>
            </div>
            <div class="modal-body">

                <form id="main-operon-form" class="ui-widget ui-front">
                    <div class="form-group">
                        <div class="form-inline">
                            <input style="width:85%" id="operonForm" type="text" class="form-control"
                                   placeholder="Operon Name"
                                   name="operonFormItem">
                            <button style="width:14%" id="opnameButton"
                                    class="btn btn-primary "
                                    type="button">
                                Submit
                            </button>
                        </div>
                        <div class="form-inline">
                            <input style="width:100%" id="operonGenesForm" type="text" class="form-control"
                                   placeholder="Genes Under Operon's Regulation"
                                   name="operonGenesFormItem">
                        </div>
                        <div id="opGenesStaging">

                        </div>
                        <div class="form-inline">
                            <input style="width:100%" type="text" class="form-control"
                                   id="op_pmidForm"
                                   placeholder="PMID" name="pmidrefFormItem">
                        </div>

                        <button data-dismiss="modal" id="opeditWDButton"
                                class="btn btn-primary main-go-buttons"
                                type="button">
                            Edit Wikidata Item
                        </button>

                        <div id="statementStaging" class="row">
                            <div id="opNameStaging" class="col-xs-3 "></div>
                            <div id="opGeneStaging" class="col-xs-5 "></div>
                            <div id="opPMIDStaging" class="col-xs-4 "></div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id='modalRefClose' type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid full">
    <div class="row header main-header">
        <div class="col-xs-6 col">
            <div class="row">
                <div style="text-align: right" class="col-xs-1"><img id="hpy_logo"
                                                                     src="{%  static 'cmod_main/img/Hpylori2.png'%}">
                </div>
                <div class="col-xs-11" id="main-title"><a href="/"><h2>WikiGenomes</h2></a></div>
            </div>
        </div>
        <div id="orgFormModule" class="col-xs-4 col orgFormDiv">

            <form class="form-inline ui-widget orgForm form-horizontal">
                {# {% csrf_token %}#}
                <div class="form-group">
                    <label for="orgform">Organism Search: </label>
                    <input type="text" class="form-control input-sm" id="orgform"
                           placeholder="choose a new organism" name="orgFormItem">
                </div>
            </form>
            <div></div>
        </div>
        <div id="wd-oauth-div" class="col-xs-2 col">
            <button id="wd-oauth-button" type="button"
                    class="btn btn-xs btn-success">
                <span>Authorize to Edit Wikidata</span>
            </button>
        </div>
    </div>
    <div class="row top-row">
        <div class="col-xs-3 col">
            <div id="orgDataModule" class="box">
                <div class="main-org-boxheader">
                    <div id='main-organism-name'>

                    </div>
                </div>
                <div class="tab-data" style="height: 100%">
                    <ul id='org-ano-tabs' class="nav nav-tabs" role="tablist">
                        <li role="presentation"   class="active"><a href="#org-tab" aria-controls="org"
                                                                  role="tab"
                                                                  data-toggle="tab">Organism</a>
                        </li>
                        <li role="presentation"><a href="#ano-tab" aria-controls="annotations" role="tab"
                                                   data-toggle="tab">Annotation Landscape</a>
                        </li>
                    </ul>
                    <div style="height: 100%" class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="org-tab">
                            <div class="main-data" style="text-align: center; margin-top: 20px">

                                <div class="row">
                                    <div class="col-xs-6"><strong>Proteins</strong></div>
                                    <div class="col-xs-6"><strong>Genes</strong></div>
                                </div>
                                <div class="row">
                                    <div id='genecount' class="col-xs-6"></div>
                                    <div id='proteincount' class="col-xs-6"></div>
                                </div>
                            </div>
                            <div id="orgData" class="org-data-box">

                                <div id="taxid" class="main-data"></div>
                                <div id="QID" class="main-data"></div>
                            </div>

                        </div>
                        <div  style="height:100%" role="tabpanel" class="tab-pane" id="ano-tab">
                            <div id="chart_div" style="height: 65%; overflow: auto"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col">
            <div id="jbrowseModule" class="box">
                <div id="jbrowse"></div>
            </div>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-xs-3 col">
            <div id="geneDataModule" class="box">
                <form id="geneFormModule" class="ui-widget form-horizontal">
                    {# {% csrf_token %}#}
                    <div class="form-group input-sm row">
                        <div class="col-xs-2">
                            <label class="form-label" for="geneform"><strong>Gene Search: </strong></label>
                        </div>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="geneform"
                                   placeholder="choose a gene" name="geneFormItem">
                        </div>
                    </div>
                </form>
                <div class="tab-data">
                    <ul id='gene-prot-tabs' class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#gene-tab" aria-controls="gene"
                                                                  role="tab"
                                                                  data-toggle="tab">Gene</a>
                        </li>
                        <li role="presentation"><a href="#prot-tab" aria-controls="protein" role="tab"
                                                   data-toggle="tab">Protein
                        </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="gene-tab">
                            <div id="geneDataBox">
                                <div id="geneData"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="prot-tab">
                            <div id="protDataBox">
                                <div id="protData"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col main-annotations-column">
            <div id='goBoxes' class="box">
                <div class="main-annotations-nav">
                    <div>
                        <!-- Nav tabs -->
                        <ul id='annotations-tabs' class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a id='mfTab' href="#mf" aria-controls="molfunc" role="tab"
                                                       data-toggle="tab">Molecular Function</a></li>
                            <li role="presentation"><a id='bpTab' href="#bp" aria-controls="bioproc" role="tab"
                                                       data-toggle="tab">Biological Process</a></li>
                            <li role="presentation"><a id='ccTab' href="#cc" aria-controls="cellcomp" role="tab"
                                                       data-toggle="tab">Cellular Component</a></li>
                            <li role="presentation"><a id='ipTab' href="#ip" aria-controls="interpro" role="tab"
                                                       data-toggle="tab">InterPro Domain</a></li>
                            <li role="presentation"><a id='ezTab' href="#ez" aria-controls="enzyme" role="tab"
                                                       data-toggle="tab">Enzyme Class</a></li>
                            <li role="presentation"><a id='opTab' href="#op" aria-controls="operon" role="tab"
                                                       data-toggle="tab">Operon</a></li>
                            <li role="presentation" class="active"><a id='gpTab' href="#gp"
                                                                      aria-controls="genomic-position"
                                                                      role="tab"
                                                                      data-toggle="tab">Genomic Position</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content main-annotations-content">
                    <div class="tab-pane" role="tabpanel" id="mf">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-5"><h5>Molecular Function</h5></div>
                            <div class="col-xs-3"><h5>Gene Ontology ID</h5></div>
                            <div class="col-xs-2"><h5>Evidence</h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>
                        </div>
                        <div class="main-annotations-content-data">
                            <div id="molfuncdata" class="main-go-data main-annotations-content-data-content">
                            </div>
                            <div class="main-annotations-content-data-modal main-modal-div">
                                <button id='mfbutton' type="button"
                                        class="main-goButton btn btn-xs btn-primary"
                                        data-toggle="modal"
                                        data-target="#goModal">Add a Molecular Function
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="bp">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-5"><h5>Biological Process</h5></div>
                            <div class="col-xs-3"><h5>Gene Ontology ID</h5></div>
                            <div class="col-xs-2"><h5>Evidence</h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>

                        </div>
                        <div class="main-annotations-content-data">
                            <div id="bioprocdata" class="main-go-data main-annotations-content-data-content">
                            </div>
                            <div class="main-annotations-content-data-modal main-modal-div">
                                <button id='bpbutton' type="button"
                                        class="main-goButton btn btn-xs btn-primary"
                                        data-toggle="modal"
                                        data-target="#goModal">Add a Biological Proccess
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="cc">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-5"><h5>Cellular Component</h5></div>
                            <div class="col-xs-3"><h5>Gene Ontology ID</h5></div>
                            <div class="col-xs-2"><h5>Evidence</h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>
                        </div>
                        <div class="main-annotations-content-data">
                            <div id="celcompdata" class="main-go-data main-annotations-content-data-content">
                            </div>
                            <div class="main-annotations-content-data-modal main-modal-div">
                                <button id='ccbutton' type="button"
                                        class="main-goButton btn btn-xs btn-primary"
                                        data-toggle="modal"
                                        data-target="#goModal">Add a Cellular Component
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="ip">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-5"><h5>InterPro Domain</h5></div>
                            <div class="col-xs-3"><h5>InterPro ID</h5></div>
                            <div class="col-xs-2"><h5></h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>
                        </div>
                        <div class="main-annotations-content-data">
                            <div id="interprodata"
                                 class="main-go-data main-annotations-content-data-content"></div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="ez">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-2"><h5>EC Number</h5></div>
                            <div class="col-xs-8"><h5>Reaction</h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>
                        </div>
                        <div class="main-annotations-content-data">
                            <div id="enzymeprodata"
                                 class="main-go-data main-annotations-content-data-content"></div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="op">
                        <div id="operonBox" style="padding: 20px">
                            <div class="main-operon-box row main-annotations">
                                <div class="col-xs-8"><h5>Operon Identifier</h5></div>
                                <div class="col-xs-2"><h5>Wikidata Identifier</h5></div>
                                <div class="col-xs-2"><h5>Reference</h5></div>
                            </div>
                            <div id="operondata" class="main-operon-data"></div>
                            <div class="main-operon-genes-box row main-annotations">
                                <div class="col-xs-4"><h5>Gene Name</h5></div>
                                <div class="col-xs-1"><h5>Entrez ID</h5></div>
                                <div class="col-xs-1"><h5>Locus Tag</h5></div>
                                <div class="col-xs-1"><h5>Wikidata</h5></div>
                                <div class="col-xs-1"><h5>Genomic Start</h5></div>
                                <div class="col-xs-1"><h5>Genomic End</h5></div>
                                <div class="col-xs-2"><h5>Strand</h5></div>
                                <div class="col-xs-1"><h5>Reference</h5></div>

                            </div>
                            <div id="operonGenesdata" class="main-operon-genes-data"></div>
                            <div class="main-annotations-content-data-modal main-modal-div">
                                <button id='opbutton' type="button"
                                        class="main-operonButton btn btn-xs btn-primary"
                                        data-toggle="modal"
                                        data-target="#operonModal">Add operon data
                                </button>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane  active" role="tabpanel" id="gp">
                        <div class="main-go-box row main-annotations main-annotations-content-header">
                            <div class="col-xs-2"><h5>Chromosome</h5></div>
                            <div class="col-xs-2"><h5>Genomic Start</h5></div>
                            <div class="col-xs-2"><h5>Genomic End</h5></div>
                            <div class="col-xs-2"><h5>Strand</h5></div>
                            <div class="col-xs-2"><h5></h5></div>
                            <div class="col-xs-2"><h5>Reference</h5></div>
                        </div>
                        <div class="main-annotations-content-data">
                            <div id="genPosData"
                                 class="main-go-data main-annotations-content-data-content"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col footer">
            <div class="row">

                <ul class="nav nav-pills">
                    <div class="centerText col-xs-1"></div>
                    <li class="centerText col-xs-2"><a href="#aboutWG" data-toggle="modal">About WikiGenomes</a>
                    </li>
                    <li class="centerText col-xs-2"><a href="#help" data-toggle="modal">Help</a></li>
                    <li class="centerText col-xs-2"><a href="#code" data-toggle="modal">Source</a></li>
                    <li class="centerText col-xs-2"><a href="#licensing" data-toggle="modal">Terms of Use</a></li>
                    <li class="centerText col-xs-2"><a href="#contact" data-toggle="modal">Contact</a></li>
                    <div class="col-xs-1"></div>
                </ul>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="aboutWG" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About WikiGenomes</h4>
            </div>
            <div class="modal-body">
                <h4>WikiGenomes</h4>

                <p>WikiGenomes is a portal to the biological content in the <a href="wikidata.org">Wikidata</a>
                    project.
                    It currently hosts the genes, proteins, and a variety of functional annotations for 1 yeast and
                    120
                    bacteria genomes.
                    WikiGenomes is designed to be both a resource for basic researchers to browse the collective
                    knowledge of a variety of
                    well studied organisms, and a technology layer that allows the user to add to that collective
                    knowledge. To support this
                    WikiGenomes provides defined editing forms that prompt the user to provide key information and
                    references. WikiGenomes
                    then adds that knowledge to the <a href="wikidata.org">Wikidata</a> knowledge graph.
                </p>
                <h4>Related Projects</h4>
                <a href="https://en.wikipedia.org/wiki/Portal:Gene_Wiki">Gene Wiki</a><br>
                <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Molecular_biology">Wikidata Project
                    Molecular Biology</a><br>
                <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Microbiology">Wikidata Project
                    Microbiology</a><br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="help" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
                <p>Walkthrough video available <a
                        href="https://drive.google.com/open?id=0Bz6pVfjuj2bhWUR6emFIUy1PNVk"><u>here</u></a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="code" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
                <p>Source code is available to clone here: <a href="https://github.com/putmantime/CMOD.Django">WikiGenomes
                    Source Code</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="licensing" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Terms of Use</h4>
            </div>
            <div class="modal-body">
                <p>All the data hosted in WikiGenomes and <a href="wikidata.org">Wikidata</a> are <a
                        href="https://wiki.creativecommons.org/wiki/CC0">CC-0 Public Domain</a>, with the exception
                    of
                    enzyme reactions,
                    which come from <a href="http://enzyme.expasy.org/">Expasy Enzyme</a> and are subject to their
                    terms
                    of use: <a href="http://enzyme.expasy.org/enzuser.txt">Expasy User Manual</a></p>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="contact" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Information</h4>
            </div>
            <div class="modal-body">
                <p><strong>Contact us</strong><br><br>

                    <strong>Our mailing address is:</strong><br>
                    The Scripps Research Institute<br>
                    MEM-216<br>
                    10550 North Torrey Pines Road<br>
                    La Jolla, CA 92037<br><br>
                    <strong>The Su Lab is physically located at the following location: </strong><br>
                    Molecular and Experimental Medicine Building<br>
                    MEM-216<br>
                    3545 Cray Court<br>
                    La Jolla, CA 92121</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>


